.local-area {
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../assets/img/img2.jpeg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    color: var(--text-color);
    align-items: center;
    margin-bottom: 3em;
}

.address,
.about-location {
    max-width: 30%;
}

.address {
    display: flex;
}

.address i {
    color: var(--primary);
    font-size: 2.5em;
    margin-right: 0.5em;
}

.address-details {
    text-align: center;
    font-size: 1.3em;
}

.about-location h3 {
    color: var(--primary);
    font-size: 2.5em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

.about-location p {
    line-height: 1.4em;
}